@font-face { 
    font-family: 'REZ';
    src: url('Font/REZ.ttf') format('truetype');
    font-weight: normal;
}

@font-face { 
    font-family: 'Gontserrat';
    src: url('Font/Gontserrat-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face { 
    font-family: 'Gontserrat Medium';
    src: url('Font/Gontserrat-Medium.ttf') format('truetype');
    font-weight: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0C1012;
    overflow: hidden;
}

.container{
    position: relative;
    min-width: 100%;
    min-height: 100%;
    padding: 15px;
    overflow: hidden;
}

.wrapper{
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.wrapper::-webkit-scrollbar {
    display: none;
}

.main{
    position: relative;
    margin: 30px;
    width: 750px;
    height: fit-content;
    outline: #E1FFF1 6px solid;
    overflow: scroll;
}

.main::-webkit-scrollbar {
    display: none;
}

.form{
    z-index: 10;
    margin: 30px;
    display: flex;
    flex-direction: column;
}

.form h1{
    text-align: center;
    color: #E1FFF1;
    font-family: 'REZ', sans-serif;
    font-size: min(max(25px, 13vw), 120px);
    font-weight: 500;
    padding-bottom: 10px;
}

.form .errormessage{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form h2{
    color: #E1FFF1;
    font-family: 'REZ', sans-serif;
    font-size: min(max(15px, 5vw), 30px);
    font-weight: 500;
    padding-top: 10px;
}

.inputform{
    position: relative;
    width: 100%;
}

.inputform input{
    font-family: 'Gontserrat', sans-serif;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    padding: min(max(10px, 3vw), 20px) 10px 10px;
    background-color: transparent;
    border: 3px solid #E1FFF1;
    outline: none;
    color: #E1FFF1;
    font-size: min(max(10px, 5vw), 25px);
    z-index: 10;
    letter-spacing: 0.05em;
}

.inputform span{
    font-family: 'Gontserrat Medium', sans-serif;
    position: absolute;
    left: 0;
    padding: min(max(15px, 4vw), 20px) 10px 10px;
    font-size: min(max(10px, 5vw), 25px);
    color: #E1FFF1;
    position: none;
    z-index: 20;
    transition: 0.5s ease-in-out;
}

.inputform input:valid ~ span,
.inputform input:focus ~ span{
    background-color: #0C1012;
    color: #5DD9CA;
    translate: (min(max(20px, 5vw), 30px));
    font-size: min(max(5px, 3vw), 15px);
    padding: 5px;
    margin-left: min(max(5px, 3vw), 15px);
    margin-top: min(max(-2px, -10vw), -13px);
}

.inputform input:valid,
.inputform input:focus{
    border: 3px solid #5DD9CA;
}

.submitbutton{
    margin-top: 5px;
    margin-bottom: 10px;
}

input[name="submitbtn"]{
    outline: #5DD9CA 3px solid;
    border: #0C1012 2px solid;
    padding-top: min(max(5px, 3vw), 15px);
    padding-bottom: min(max(5px, 3vw), 15px);
    width: 100%;
    margin-top: 10px;
    border-radius: 100px;
    cursor: pointer;
}

.submitbutton input{
    z-index: 15;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    background: #0C1012;
    color: #5DD9CA;
    font-family: 'Gontserrat', sans-serif;
    font-size: min(max(10px, 5vw), 30px);
    transition: 0.5s;
}

.submitbutton input:hover{
    background: #5DD9CA;
    color: #E1FFF1;
    letter-spacing: 0.5em;
}